CONFIG_FILES=./agent_config.json
HYP_BASE_RELAYCHAINS=anvil1,optimismgoerli
HYP_BASE_CHAINS_OPTIMISMGOERLI_CONNECTION_URL=
HYP_BASE_CHAINS_ANVIL1_CONNECTION_URL=http://localhost:8545
HYP_BASE_CHAINS_ANVIL1_CONNECTION=http://localhost:8545
HYP_BASE_CHAINS_OPTIMISMGOERLI_SIGNER_KEY=
HYP_BASE_CHAINS_ANVIL1_SIGNER_KEY=