@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .connect {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 326px;
    height: 94px;
    border-radius: 73px;
    border: 3px solid rgba(0, 0, 0, 0.75);
    background: #fff;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.5);

    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .connect:hover {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 326px;
    height: 94px;
    border-radius: 73px;
    border: 3px solid rgba(0, 0, 0, 0.75);
    background: #ddd;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.5);

    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: all;
    transition-duration: 0.2s;
  }

  .heading {
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(185deg, #0554f2 15.25%, #f20732 95.51%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .name-input {
    width: 594px;
    height: 79px;
    flex-shrink: 0;

    border: 4px solid #000;
    background: linear-gradient(
      180deg,
      rgba(242, 7, 50, 0) 0%,
      rgba(5, 84, 242, 0) 88.02%
    );
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .create-proposal-button {
    width: 464px;
    height: 67px;
    flex-shrink: 0;

    border-radius: 25px;
    border: 4px solid #000;
    background: linear-gradient(
      174deg,
      rgba(242, 7, 50, 0.75) 0%,
      rgba(5, 84, 242, 0.75) 100%
    );
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .back-button {
    width: 80px;
    height: 57px;
    flex-shrink: 0;

    border-radius: 73px;
    border: 3px solid #000;
    background: #fff;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.5);
  }

  .profile-button {
    width: 195px;
    height: 39px;
    flex-shrink: 0;

    border-radius: 73px;
    border: 3px solid rgba(0, 0, 0, 0.75);
    background: #fff;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.5);
  }

  .proposal-slider {
    width: 1006px;
    height: 538px;
    flex-shrink: 0;

    border: 4px solid #000;
    background: linear-gradient(
      180deg,
      rgba(242, 7, 50, 0) 0%,
      rgba(5, 84, 242, 0) 88.02%
    );
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
